streamlit
pandas
numpy
scikit-learn
matplotlib
seaborn
yfinance
datetime
plotly
requests
groq
langchain
langchain_groq
beautifulsoup4
nltk
tk
textblob
newspaper3k
lxml
lxml_html_clean
langchain_community
